<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fakta Mitos Kesehatan Mata</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

        input.besar {
            display: inline-block;
        }

        input.kecil {
            display: none;
        }

        @media (max-width: 490px) {
            input.besar {
                display: none;
            }

            input.kecil {
                display: inline-block;
            }
        }
    </style>
</head>

<body class="font-[Inter]">
    <header class="bg-white">
        <nav class="flex justify-between items-center w-[92%] mx-auto">
            <div>
                <img class="w-16 cursor-pointer" src="https://i.postimg.cc/ht8PCZys/logo-intelieye.png"
                    alt="Logo InteliEye" style="width: 110px; height: auto; margin-top: 10px;">
            </div>
            <div
                class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500 font-medium" href="#">Panel Admin</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 font-medium" href="#">The Team</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 font-medium" href="#">About Us</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 font-medium" href="#">Learn</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 font-medium" href="#">Donation</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>

    <div class="w-full h-screen bg-gray-100 flex flex-col items-center justify-center">
        <div class="md:w-1/2 px-8 md:px-5 mt-16 flex flex-col" style="margin-top: -245px;">
            <h2 class="font-bold text-3xl text-[#002D74] text-center">Menyingkap Tirai Mitos dan Fakta <br>
                Tersembunyi seputar Kesehatan Mata</h2>
            <p style="font-size: 18px;" class="text-xs mt-4 text-[#002D74] text-center font-medium">Apakah benar atau
                sekadar khayalan?</p>
        </div>
        <div class="w-11/12 md:w-8/12 xl:w-1/2 h-auto p-5 rounded-3xl bg-white flex flex-col" style="margin-top: 50px;">
            <!-- First section (search bar container) -->
            <section class="w-full h-10 flex items-center">
                <!-- Search icon container -->
                <span class="w-10 h-full hidden md:flex items-center">
                    <i class="uil uil-search-alt text-xl text-blue-800"></i>
                </span>
                <!-- Input -->
                <input type="text" class="w-full h-full font-medium md:pl-2 focus:outline-none searchInput besar"
                    placeholder="Makan terlalu banyak bisa bikin minus?">
                <input type="text" class="w-full h-full font-medium md:pl-2 focus:outline-none searchInput kecil"
                    placeholder="Cari faktos seputar mata">
                <!-- Search button -->
                <button
                    class="w-28 h-full bg-blue-800 flex justify-center items-center rounded-2xl text-white font-medium">Cari</button>
            </section>
            <!-- Second section (results container) -->
            <section class="w-full h-auto hidden flex-col gap-y-2 mt-8 resultsContainer"></section>
        </div>
    </div>

    <script type="module" src="../js/index.js"></script>
    <script>
        const navLinks = document.querySelector('.nav-links')

        function onToggleMenu(e) {
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
</body>

</html>